## 1. song에서 tags를 만들기

In [ ]:
train = pd.read_json('datas/train.json', typ = 'frame')
train

In [ ]:
tagandsong = train.loc[:,['tags','songs']]

In [ ]:
# song에 tag 붙이기(1) song - tag 1:1

from tqdm.notebook import tqdm
tag_songs = []
for i in tqdm(range(0, len(tagandsong))):
    for j in range(0, len(tagandsong['tags'][i])):
        for k in range(0,len(tagandsong['songs'][i])):
            tag_song = [tagandsong['songs'][i][k], [tagandsong['tags'][i][j]]]
            tag_songs.append(tag_song)

In [ ]:
# song에 tag 붙이기(2) song - tag = 1:n
df = pd.DataFrame(tag_songs, columns= ['songs', 'tags'])
song_tags = pd.DataFrame(df['tags'].groupby(df['songs']).sum())
song_tags.reset_index(inplace = True)

In [ ]:
# tags count 붙이기
song_tags['tags_num'] = np.nan
for i in range(0,len(song_tags)):
    song_tags['tags_num'][i] = sorted(Counter(song_tags['tags'][i]).items(), key = lambda x:x[1],reverse=True)
    song_tags['tags_num'][i] = dict(song_tags['tags_num'][i])

In [ ]:
# 저장
song_tags.to_json('datas/song_tags.json')

In [1]:
# 불러오기
song_tags = pd.read_json('datas/song_tags.json')
song_tags

,songs,tags,tags_num
0,0,"[비오는날, 드라이브, 비오는날, 추억, 회상]","{'비오는날': 2, '드라이브': 1, '추억': 1, '회상': 1}"
1,3,"[1, 감성, 듣기좋은, 드라이브, Pop, 여행, 기분전환, 팝, 신나는, 클럽,...","{'기분전환': 3, '신나는': 3, '드라이브': 2, '클럽': 2, '페스티..."
2,4,"[뉴에이지, 뉴에이지]",{'뉴에이지': 2}
3,5,"[비오는날, 재즈, 락, 발라드, 휴식, 리메이크, 재즈, 힐링송, 힐링, 기분전환...","{'재즈': 2, '비오는날': 1, '락': 1, '발라드': 1, '휴식': 1..."
4,6,"[클래식, 산책, 조깅]","{'클래식': 1, '산책': 1, '조깅': 1}"
...,...,...,...
615137,707984,[월드뮤직],{'월드뮤직': 1}
615138,707985,"[Pop, 해외차트, 시대별차트, 신디로퍼, Pop, 1980, 라이벌, 록]","{'Pop': 2, '해외차트': 1, '시대별차트': 1, '신디로퍼': 1, '..."
615139,707986,"[힙합, 랩, 발라드, 감성, 리메이크곡, 카페, 잔잔한, 추억, 위로, 힐링, 사...","{'발라드': 5, '잔잔한': 4, '이별': 4, '감성': 3, '추억': 3..."
615140,707987,"[집중, 노동요, 새벽, 오후, 자장가, 공부]","{'집중': 1, '노동요': 1, '새벽': 1, '오후': 1, '자장가': 1..."
615141,707988,"[데뷔24년, 김경호, 샤우팅의_지존]","{'데뷔24년': 1, '김경호': 1, '샤우팅의_지존': 1}"

## 2. tag에서 songs 만들기

In [ ]:
tagandsong = train.loc[:,['tags','songs']]
tagandsong

In [ ]:
# song에 tag 붙이기(1) song - tag 1:1

from tqdm.notebook import tqdm
song_tags = []
# tagandsong_idx = i
for i in tqdm(range(0, len(tagandsong))):
    #song_idx = j
    for j in range(0, len(tagandsong['songs'][i])):
        #tag_idx = k
        for k in range(0,len(tagandsong['tags'][i])):
            song_tag = [tagandsong['tags'][i][k], [tagandsong['songs'][i][j]]]
            song_tags.append(song_tag)

In [ ]:
df = pd.DataFrame(song_tags, columns= ['tags', 'songs'])
df

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(1/4)
from collections import Counter
from tqdm import notebook

empty_df = []
for i in notebook.tqdm(range(0,22900000,100000)):
    sample = df[i:i+100000]
    tag_songs = pd.DataFrame(sample['songs'].groupby(sample['tags']).sum())
    tag_songs.reset_index(inplace = True)
    empty_df.append(tag_songs)

In [ ]:
df2 = pd.concat(empty_df)
df2

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(2/4)
empty_df2 = []
for i in notebook.tqdm(range(0,175726,10000)):
    sample2 = df2[i:i+10000]
    tag_songs = pd.DataFrame(sample2['songs'].groupby(sample2['tags']).sum())
    tag_songs.reset_index(inplace = True)
    empty_df2.append(tag_songs)
df3 = pd.concat(empty_df2)
df3

In [ ]:
df3.reset_index(drop = True, inplace = True)
df3

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(3/4)
empty_df3 = []
for i in notebook.tqdm(range(0,82825,40000)):
    sample3 = df3[i:i+40000]
    tag_songs = pd.DataFrame(sample3['songs'].groupby(sample3['tags']).sum())
    tag_songs.reset_index(inplace = True)
    empty_df3.append(tag_songs)
df4 = pd.concat(empty_df3)
df4

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(4/4)
tag_songs = pd.DataFrame(df4['songs'].groupby(df4['tags']).sum())
tag_songs.reset_index(inplace = True)
tag_songs

In [ ]:
# song count 붙이기
tag_songs['songs_num'] = np.nan
for i in range(0,len(song_tags)):
    tag_songs['songs_num'][i] = sorted(Counter(tag_songs['songs'][i]).items(), key = lambda x:x[1],reverse=True)
    tag_songs['songs_num'][i] = dict(tag_songs['songs_num'][i])

In [3]:
# 불러오기
tag_songs = pd.read_json('datas/tag_songs.json')
tag_songs

,tags,songs,songs_num
0,,"[253222, 270262, 301533, 136007, 238347, 13384...","{'253222': 1, '270262': 1, '301533': 1, '13600..."
1,00,"[496456, 323561, 452688, 503200, 102389, 58602...","{'496456': 1, '323561': 1, '452688': 1, '50320..."
2,007,"[571824, 181423, 333856, 291812, 402460, 10929...","{'291812': 3, '359929': 3, '210978': 2, '33130..."
3,007시리즈,"[427367, 181423, 492240, 333856, 291812, 67710...","{'427367': 2, '181423': 2, '492240': 2, '33385..."
4,00s,"[367143, 35117, 387871, 651040, 551409, 544099...","{'580074': 3, '117595': 2, '176961': 2, '58477..."
...,...,...,...
29155,힙해,"[554524, 653392, 669251, 217370, 627771, 75076...","{'363570': 3, '653392': 2, '18117': 2, '271156..."
29156,힙힙힙,"[146247, 152953, 170279, 703985, 591826, 46060...","{'44113': 2, '146247': 1, '152953': 1, '170279..."
29157,힛뎀포크,"[251011, 14923, 605624, 4819, 442751, 538647, ...","{'251011': 1, '14923': 1, '605624': 1, '4819':..."
29158,힛뎀폭,"[251011, 14923, 605624, 4819, 442751, 538647, ...","{'251011': 1, '14923': 1, '605624': 1, '4819':..."
29159,힛뎀폭스,"[251011, 14923, 605624, 4819, 442751, 538647, ...","{'404976': 2, '432284': 2, '520506': 2, '69596..."

## 3. tag에 장르 붙이기

In [ ]:
song_meta = pd.read_json('datas/song_meta.json')
song_tags = pd.read_json('datas/song_tags.json')

In [ ]:
sample= song_meta[['id', 'song_gn_gnr_basket','song_gn_dtl_gnr_basket']]
song_grn = sample['song_gn_gnr_basket'] + sample['song_gn_dtl_gnr_basket']
song = pd.DataFrame(song_grn)
song.reset_index(inplace = True)
song = song.rename(columns={"index": "id", 0: 'gn'})
song

In [ ]:
temp = pd.merge(song_tags, song, left_on = 'songs', right_on= 'id')
temp

In [ ]:
# list(temp['tags_num'][i].items())[j][0], key
# list(temp['tags_num'][i].items())[j][1], values

from tqdm.notebook import tqdm
tag_gns = []
for i in tqdm(range(0, len(temp))):
    for j in range(0, len(temp['tags_num'][i])):
        tag_gns.append({'tags': list(temp['tags_num'][i].items())[j][0],
                        'gn': temp['gn'][i] * list(temp['tags_num'][i].items())[j][1]})

In [ ]:
tag_gns_df = pd.DataFrame(tag_gns)

In [ ]:
len(tag_gns_df)

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(1/4)
from collections import Counter
from tqdm import notebook

empty_df = []
for i in notebook.tqdm(range(0,10984669,100000)):
    sample = tag_gns_df[i:i+100000]
    temp = pd.DataFrame(sample['gn'].groupby(sample['tags']).sum())
    temp.reset_index(inplace = True)
    empty_df.append(temp)

In [ ]:
tag_gns_df2 = pd.concat(empty_df)
tag_gns_df2

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(2/4)
from collections import Counter
from tqdm import notebook

empty_df = []
for i in notebook.tqdm(range(0,1483641,100000)):
    sample = tag_gns_df2[i:i+100000]
    temp = pd.DataFrame(sample['gn'].groupby(sample['tags']).sum())
    temp.reset_index(inplace = True)
    empty_df.append(temp)

In [ ]:
tag_gns_df3 = pd.concat(empty_df)
tag_gns_df3

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(3/4)
from collections import Counter
from tqdm import notebook

empty_df = []
for i in notebook.tqdm(range(0,388663,100000)):
    sample = tag_gns_df3[i:i+100000]
    temp = pd.DataFrame(sample['gn'].groupby(sample['tags']).sum())
    temp.reset_index(inplace = True)
    empty_df.append(temp)

In [ ]:
tag_gns_df4 = pd.concat(empty_df)
tag_gns_df4

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(4/4)
tag_gns = pd.DataFrame(tag_gns_df4['gn'].groupby(tag_gns_df4['tags']).sum())
tag_gns.reset_index(inplace = True)
tag_gns

In [ ]:
# song count 붙이기
from collections import Counter
tag_gns['gn_num'] = np.nan
for i in range(0,len(tag_gns)):
    tag_gns['gn_num'][i] = sorted(Counter(tag_gns['gn'][i]).items(), key = lambda x:x[1],reverse=True)
    tag_gns['gn_num'][i] = dict(tag_gns['gn_num'][i])

In [ ]:
tag_gns.to_json('datas/tag_gns.json')

In [1]:
pd.read_json('datas/tag_gns.json')

,tags,gn,gn_num
0,,"[GN1200, GN1209, GN1201, GN1300, GN1301, GN130...","{'GN1200': 15, 'GN1201': 15, 'GN1300': 10, 'GN..."
1,00,"[GN2500, GN0200, GN2503, GN2501, GN0204, GN250...","{'GN0300': 46, 'GN0301': 46, 'GN0200': 37, 'GN..."
2,007,"[GN1500, GN1000, GN1006, GN1503, GN1501, GN150...","{'GN1500': 31, 'GN1501': 31, 'GN1503': 28, 'GN..."
3,007시리즈,"[GN1500, GN1503, GN1501, GN1500, GN1503, GN150...","{'GN0900': 18, 'GN0901': 16, 'GN1500': 12, 'GN..."
4,00s,"[GN0100, GN0101, GN0103, GN0200, GN0203, GN020...","{'GN0100': 125, 'GN0101': 116, 'GN0104': 69, '..."
...,...,...,...
29155,힙해,"[GN0400, GN0401, GN0403, GN0402, GN0300, GN030...","{'GN0300': 91, 'GN0301': 91, 'GN0303': 80, 'GN..."
29156,힙힙힙,"[GN0300, GN0302, GN0301, GN0300, GN0303, GN030...","{'GN0400': 32, 'GN0401': 32, 'GN0300': 28, 'GN..."
29157,힛뎀포크,"[GN1200, GN1201, GN1200, GN1201, GN1202, GN120...","{'GN1200': 57, 'GN1201': 57, 'GN1202': 11, 'GN..."
29158,힛뎀폭,"[GN1200, GN1201, GN1200, GN1201, GN1202, GN120...","{'GN1200': 57, 'GN1201': 57, 'GN1202': 11, 'GN..."
29159,힛뎀폭스,"[GN1200, GN1201, GN1200, GN1201, GN1202, GN120...","{'GN1200': 76, 'GN1201': 76, 'GN1202': 13, 'GN..."