#### 1. tag_score
- 각 tag가 몇번 언급되었는가
- song이 tag을 가지고있는것

#### 1) tag : songs 만들기

In [ ]:
train = pd.read_json('datas/train.json')

In [ ]:
tagandsong = train.loc[:,['tags','songs']]
tagandsong

In [ ]:
# 오래걸림, 같이드리는 song_tags_sample이 결과파일입니다.
# song에 tag 붙이기(1) song - tag 1:1

from tqdm.notebook import tqdm
song_tags = []
# tagandsong_idx = i
for i in tqdm(range(0, len(tagandsong))):
    #song_idx = j
    for j in range(0, len(tagandsong['songs'][i])):
        #tag_idx = k
        for k in range(0,len(tagandsong['tags'][i])):
            song_tag = [tagandsong['tags'][i][k], [tagandsong['songs'][i][j]]]
            song_tags.append(song_tag)

In [ ]:
df = pd.DataFrame(song_tags, columns= ['tags', 'songs'])
df

In [ ]:
# 저장하기
df.to_json('datas/song_tags_sample.json')

#### 2) tag : song

In [ ]:
sample= pd.read_json('datas/song_tags_sample.json')
song_tags = pd.read_json('datas/song_tags.json')
song_meta = pd.read_json('datas/song_meta.json')

In [63]:
tag_score = sample.pivot_table(index='tags', aggfunc='count')
tag_score.reset_index(inplace = True)
tag_score

         tags  songs
0                 25
1          00    167
2         007     54
3      007시리즈     36
4         00s    236
...       ...    ...
29155      힙해    178
29156     힙힙힙     80
29157    힛뎀포크     58
29158     힛뎀폭     58
29159    힛뎀폭스     79

[29160 rows x 2 columns]

In [ ]:
from tqdm.notebook import tqdm

song_tags['tag_scoore'] = 0
for i in tqdm(range(0, len(song_tags['tags_num']))):
    tags = 0
    for j in range(0, len(list(song_tags['tags_num'][i].items()))):
        tag = tag_score[tag_score.tags == list(song_tags['tags_num'][i].items())[j][0]]['songs'].values
        score = list(song_tags['tags_num'][i].items())[j][1]
        tags = tag * score + tags
    song_tags['tag_scoore'][i] = tags[0]

HBox(children=(FloatProgress(value=0.0, max=615142.0), HTML(value='')))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
song_tags.to_json('datas/song_tags_gns.json')